* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: orange;
  padding: 8px;
}

h1 {
  font-size: 60px;
}

h2 {
  color: orange;
}

p {
  size: 40px;
}

footer {
  background-color: orange;
  padding: 8px;
}

.main-section,
.video-section,
.info-section {
  border: 4px solid orange;
  margin: 8px;
  padding: 8px;
}

.video-section {
  /* align-content: center; */
}
